*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    color: #2933f8;
    text-transform: uppercase;
    text-align: center;  
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;

}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.main{
    background-color: #f0e68c;
}
.header, .footer{
    padding: 10px;
    background-color: #add8e6;
}
.menu{
    width: 200px;
    float: left;
    padding: 30px 10px 10px 10px;
}
.menu p{
    font-weight: bold;
    margin-bottom: 20px;
}
.content{
    margin-left: 200px;
    background: url(../img/ball.png) repeat-y top right, #ffffff;
    padding: 20px;
}
.content_img{
    float: left;
    height: 140px; 
    width: 213px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.content p{
    margin-bottom: 20px;
}
