body{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
}
p{
    margin: 0;
    text-align: center;
}
div{
    border: 50px solid black;
    border-image: url(img/ramka.png) 100 round;
    border-image-width: 100px;
}