@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('MyriadPro-Regular.eot');
  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('MyriadPro-Regular.ttf') format('truetype'),
       url('MyriadPro-Regular.woff') format('woff'),
       url('MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

