@-webkit-keyframes duck_fly1 {
  0% {
    left: -55px;
    top: 53vh;
  }
  50% {
    left: 50%;
    top: 35vh;
  }
  100% {
    left: 105%;
    top: 10vh;
  }
}

@keyframes duck_fly1 {
  0% {
    left: -55px;
    top: 53vh;
  }
  50% {
    left: 50%;
    top: 35vh;
  }
  100% {
    left: 105%;
    top: 10vh;
  }
}

@-webkit-keyframes duck_fly2 {
  0% {
    left: -55px;
    top: 66vh;
  }
  50% {
    left: 50%;
    top: 1vh;
  }
  100% {
    left: 105%;
    top: 47vh;
  }
}

@keyframes duck_fly2 {
  0% {
    left: -55px;
    top: 66vh;
  }
  50% {
    left: 50%;
    top: 1vh;
  }
  100% {
    left: 105%;
    top: 47vh;
  }
}

@-webkit-keyframes duck_fly3 {
  0% {
    left: -55px;
    top: 73vh;
  }
  50% {
    left: 50%;
    top: 48vh;
  }
  100% {
    left: 105%;
    top: 38vh;
  }
}

@keyframes duck_fly3 {
  0% {
    left: -55px;
    top: 73vh;
  }
  50% {
    left: 50%;
    top: 48vh;
  }
  100% {
    left: 105%;
    top: 38vh;
  }
}

@-webkit-keyframes duck_fly4 {
  0% {
    left: -55px;
    top: 7vh;
  }
  50% {
    left: 50%;
    top: 45vh;
  }
  100% {
    left: 105%;
    top: 14vh;
  }
}

@keyframes duck_fly4 {
  0% {
    left: -55px;
    top: 7vh;
  }
  50% {
    left: 50%;
    top: 45vh;
  }
  100% {
    left: 105%;
    top: 14vh;
  }
}

@-webkit-keyframes duck_fly5 {
  0% {
    left: -55px;
    top: 23vh;
  }
  50% {
    left: 50%;
    top: 9vh;
  }
  100% {
    left: 105%;
    top: 71vh;
  }
}

@keyframes duck_fly5 {
  0% {
    left: -55px;
    top: 23vh;
  }
  50% {
    left: 50%;
    top: 9vh;
  }
  100% {
    left: 105%;
    top: 71vh;
  }
}

@-webkit-keyframes duck_fly6 {
  0% {
    left: -55px;
    top: 69vh;
  }
  50% {
    left: 50%;
    top: 64vh;
  }
  100% {
    left: 105%;
    top: 57vh;
  }
}

@keyframes duck_fly6 {
  0% {
    left: -55px;
    top: 69vh;
  }
  50% {
    left: 50%;
    top: 64vh;
  }
  100% {
    left: 105%;
    top: 57vh;
  }
}

@-webkit-keyframes duck_fly7 {
  0% {
    left: -55px;
    top: 43vh;
  }
  50% {
    left: 50%;
    top: 67vh;
  }
  100% {
    left: 105%;
    top: 33vh;
  }
}

@keyframes duck_fly7 {
  0% {
    left: -55px;
    top: 43vh;
  }
  50% {
    left: 50%;
    top: 67vh;
  }
  100% {
    left: 105%;
    top: 33vh;
  }
}

@-webkit-keyframes duck_fly8 {
  0% {
    left: -55px;
    top: 54vh;
  }
  50% {
    left: 50%;
    top: 46vh;
  }
  100% {
    left: 105%;
    top: 10vh;
  }
}

@keyframes duck_fly8 {
  0% {
    left: -55px;
    top: 54vh;
  }
  50% {
    left: 50%;
    top: 46vh;
  }
  100% {
    left: 105%;
    top: 10vh;
  }
}

@-webkit-keyframes duck_fly9 {
  0% {
    left: -55px;
    top: 38vh;
  }
  50% {
    left: 50%;
    top: 27vh;
  }
  100% {
    left: 105%;
    top: 35vh;
  }
}

@keyframes duck_fly9 {
  0% {
    left: -55px;
    top: 38vh;
  }
  50% {
    left: 50%;
    top: 27vh;
  }
  100% {
    left: 105%;
    top: 35vh;
  }
}

@-webkit-keyframes duck_fly10 {
  0% {
    left: -55px;
    top: 16vh;
  }
  50% {
    left: 50%;
    top: 73vh;
  }
  100% {
    left: 105%;
    top: 61vh;
  }
}

@keyframes duck_fly10 {
  0% {
    left: -55px;
    top: 16vh;
  }
  50% {
    left: 50%;
    top: 73vh;
  }
  100% {
    left: 105%;
    top: 61vh;
  }
}

body {
  background-image: url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  counter-reset: count;
  position: relative;
}

.duck1 {
  position: absolute;
  -webkit-animation: duck_fly1 10s linear 1s 1 both;
          animation: duck_fly1 10s linear 1s 1 both;
}

.duck2 {
  position: absolute;
  -webkit-animation: duck_fly2 10s linear 2s 1 both;
          animation: duck_fly2 10s linear 2s 1 both;
}

.duck3 {
  position: absolute;
  -webkit-animation: duck_fly3 10s linear 3s 1 both;
          animation: duck_fly3 10s linear 3s 1 both;
}

.duck4 {
  position: absolute;
  -webkit-animation: duck_fly4 10s linear 4s 1 both;
          animation: duck_fly4 10s linear 4s 1 both;
}

.duck5 {
  position: absolute;
  -webkit-animation: duck_fly5 10s linear 5s 1 both;
          animation: duck_fly5 10s linear 5s 1 both;
}

.duck6 {
  position: absolute;
  -webkit-animation: duck_fly6 10s linear 6s 1 both;
          animation: duck_fly6 10s linear 6s 1 both;
}

.duck7 {
  position: absolute;
  -webkit-animation: duck_fly7 10s linear 7s 1 both;
          animation: duck_fly7 10s linear 7s 1 both;
}

.duck8 {
  position: absolute;
  -webkit-animation: duck_fly8 10s linear 8s 1 both;
          animation: duck_fly8 10s linear 8s 1 both;
}

.duck9 {
  position: absolute;
  -webkit-animation: duck_fly9 10s linear 9s 1 both;
          animation: duck_fly9 10s linear 9s 1 both;
}

.duck10 {
  position: absolute;
  -webkit-animation: duck_fly10 10s linear 10s 1 both;
          animation: duck_fly10 10s linear 10s 1 both;
}

img {
  width: 50px;
}

input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}

input[type='checkbox']:checked {
  counter-increment: count;
}

input[type='checkbox']:checked + img {
  visibility: hidden;
  display: none;
}

h1 {
  position: absolute;
  bottom: -16px;
  left: 32px;
}

h1::after {
  content: " " counter(count);
}
/*# sourceMappingURL=style.css.map */