@for $i from 1 through 10 {
    @keyframes duck_fly#{$i} {
        0% { 
            left: -55px;
            top: random(75) + vh; 
        }
    
        50% { 
            left: 50%;
            top: random(75) + vh; 
        }
        100% { 
            left: 105%;
            top: random(75) + vh; 
        }
    }
}

body{
    background-image: url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    counter-reset: count;
    position: relative;
}

@for $i from 1 through 10 {
    .duck#{$i} {
        position: absolute;
        animation: duck_fly#{$i} 10s linear #{$i}s 1 both;
    }
}

img{
    width: 50px;
}
input[type='checkbox']{
    position: absolute;
    visibility: hidden;
    left: -999999px;
}

input[type='checkbox']:checked{
    counter-increment: count;
}

input[type='checkbox']:checked + img {
    visibility: hidden;
    display: none;
}

h1{
    position: absolute;
    bottom: -16px;
    left: 32px;
}
h1::after{
    content: " " counter(count);
}