@font-face {
  font-family: 'BebasNeue Regular';
  src: url('BebasNeue Regular.eot');
  src: url('BebasNeue Regular.eot?#iefix') format('embedded-opentype'),
       url('BebasNeue Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
       url('BebasNeueRegular.ttf') format('truetype'),
       url('BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

