.our_team_member{
    text-align: center;
    height: 1096px;
}
.our_team_member_start{
    width: 620px;
}
.our_team_member_start p:first-child{
    font-family: 'MyriadPro-Bold';
    letter-spacing: 1px;
    padding-top: 113px;
    font-size: 30px;
}
.our_team_member_start p:nth-child(2){
    font-size: 15px;
    margin-top: 36px;
}
.members{
    margin-top: 126px;
}
.members div{
    border-radius: 10px;
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
    width: 371px;
    height: 321px;
}
.member1{
    background: url(../img/our_team_member/member1.jpeg) top center no-repeat;
}
.member2{
    background: url(../img/our_team_member/member2.jpeg) top center no-repeat;
}
.member3{
    background: url(../img/our_team_member/member3.jpeg) top center no-repeat;
}
.about_members div{
    width: 371px;
    height: 167px;
    margin-right: 14px;
    margin-left: 14px;
    display: inline-block;
}
.about_members div p:first-child{
    font-family: 'MyriadPro-Semibold';
    padding-top: 38px;
    font-size: 20px;
    color: #212121;
}
.about_members div p:nth-child(2){
    margin-top: 12px;
    font-size: 15px;
    color: #212121;
}
.about_members ul{
    margin-top: 28px;
}
.about_members ul li{
    display: inline-block;
    height: 51px;
    width: 51px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.about_members .fb_for_members{
    background: url(../img/our_team_member/social/fb_black.png) no-repeat center center,#d6c1c1;
}
.about_members .twitter_for_members{
    background: url(../img/our_team_member/social/twitter_black.png) no-repeat center center,#d6c1c1;
}
.about_members .chat_for_members{
    background:url(../img/our_team_member/social/chat_black.png) no-repeat center center, #d6c1c1;
}
.about_members .dribble_for_members{
    background: url(../img/our_team_member/social/dribble_black.png) no-repeat center center,#d6c1c1;
}
.about_members ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.about_members .fb_for_members:hover{
    background:url(../img/our_team_member/social/fb_white.png) no-repeat center center, #3949AB;
}
.about_members .twitter_for_members:hover{
    background:url(../img/our_team_member/social/twitter_white.png) no-repeat center center, #3949AB;
}
.about_members .chat_for_members:hover{
    background:url(../img/our_team_member/social/chat_white.png) no-repeat center center, #3949AB;
}
.about_members .dribble_for_members:hover{
    background:url(../img/our_team_member/social/dribble_white.png) no-repeat center center, #3949AB;
}
.our_team_member .circle_under_members{
    margin-top: 115px;
}
.our_team_member .circle_under_members li{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    background: url(../img/our_team_member/green_ball.png);
}
.our_team_member .circle_under_members li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.our_team_member .circle_under_members li:hover{
    background: url(../img/our_team_member/blue_ball.png);
}
