*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 1401px;
    font-family: 'MyriadPro-Regular';
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}