*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: default;
}

.big__wrap{
    background: url(../../img/index/fon.jpg);
    position: relative;
}
.wrap{
    max-width: 942px;
    margin: 0 auto;
    header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 7px;
        .logo{
            cursor: default;
            font-family: 'BebasNeueBold';
            font-size: 36px;
            span:first-child{
            color:#E8663C;
            }
            span:last-child{
                color:#f3af9d;
            }
            a{
                text-decoration: none;
            }
        }
        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            li{
                margin-right: 4px;
                margin-left: 4px;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #B9B9B9;
                    font-family: 'BebasNeueBold';
                    font-size: 18px;
                }
                a:hover{
                    color: #E8663C;
                }
            } 
            .portfolio__btn{
                color:#E8663C;
            }
            .contact__btn{
                padding-right: 0px;
            }
        }
        .nav__burger{
            opacity: 0.95;
            position: fixed;
            z-index: 3;
            top: 1px;
            background: url(../../img/index/fon.jpg);
            width: 200px;
            height: 230px;
            display: none;
            right: -200px;
            top: 0;
            ul{
                text-align: center;
                display: flex;
                flex-direction: column;
                a{
                    font-size: 28px;
                }
                a:hover{
                    color: #E8663C;
                }
            }
        } 
        .open, .close{
            display: none;
            position: absolute;
            right: 10px;
            top: 10px;
            color: #E8663C;
        }
        .open{
            transition: .5s;
            top: 13px;
            font-size: 26px;
        }
        .close{
            font-size: 35px;
            top: 19px;
        }
    }
}

.section__title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    z-index: 1;
    .before__section__title{
        position: absolute;
        height: 62px;
        background: #f3af9d;
        width: 100%;
        z-index: -1;
    }
    .section__title__name{
        background: #E8663C;
        flex-basis: 956px;
        border-right: 7px solid white;
        border-left: 7px solid white;
        height: 62px;
        padding: 19px;
        h1{
            color: #ffffff;
            font-family: 'BebasNeueBold';
            text-transform: uppercase;
            font-size: 24px;
            margin: 0;
        }
    }
    
}
.wrap{
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .portfolio__image{
            margin-top: 23px;
            margin-bottom: 23px;
            max-width: 940px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .portfolio__text{
            margin-bottom: 48px;
            p{  
                margin-bottom: 0;
                font-family: 'MyriadPro-Regular';
                font-size: 13px;
                color: #414141;
            }
            p:first-child{
                margin-bottom: 20px;
            }
        }
    }
    .recent__works{
        margin-bottom: 45px;
        .recent__works__promo{
            display: flex;
            align-items: center;
            .recent__works__text{
                padding-right: 20px;
                flex-basis: 0px; 
                flex-grow: 1;
                h5{
                    color: #E8663C;
                    font-family: 'BebasNeueBold';
                    text-transform: uppercase;
                    font-size: 22px;
                    margin: 0;
                }
            }
            .recent__works__string{
                background: url(../../img/index/recent__works/fon.jpg) repeat-x center left;
                height: 20px;
                flex-basis: 150px; 
                flex-grow: 5;
            }
        }
        .recent__works__cards{
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            a{
                text-decoration: none;
            }
            .card{
                border: none;
                display: flex;
                flex-direction: column;
                width: 222px;
                height: 246px;
                .card__content{
                    height: 61px;
                    padding: 10px;
                    border-left: #e5e5e5 1px solid;
                    border-right: #e5e5e5 1px solid;
                    border-bottom: #e5e5e5 1px solid;
                    p{
                        color: #E8663C;
                        font-family: 'BebasNeueBold';
                        text-transform: uppercase;
                        font-size: 20px;
                        margin: 0;
                    }
                    p:first-child{
                        color: #B9B9B9;
                    }
                    p:last-child{
                        font-size: 14px;
                        margin-top: -9px;
                    }
                }
                .card__photo{
                    height: 185px;
                }
                .card__photo{
                    height: 185px;
                }
                .card__photo1{
                    background: url(../../img/index/cards/card1.jpeg) no-repeat center center;
                }
                .card__photo2{
                    background: url(../../img/index/cards/card2.jpeg) no-repeat -29px center;
                }
                .card__photo3{
                    background: url(../../img/index/cards/card3.jpeg) no-repeat -160px -70px;
                }
                .card__photo4{
                    background: url(../../img/index/cards/card4.jpeg) no-repeat -349px -24px;
                }
                .card__photo5{
                    background: url(../../img/index/cards/card5.jpeg) no-repeat -167px -59px;
                }
                .card__photo6{
                    background: url(../../img/index/cards/card6.jpeg) no-repeat -40px -10px;
                }
                .card__photo7{
                    background: url(../../img/index/cards/card7.jpeg) no-repeat -90px center;
                }
                .card__photo8{
                    background: url(../../img/index/cards/card8.jpeg) no-repeat -127px -70px;
                }
                .card__photo9{
                    background: url(../../img/index/cards/card9.jpeg) no-repeat -10px -10px;
                }
                .card__photo10{
                    background: url(../../img/index/cards/card10.jpeg) no-repeat -50px -90px;
                }
                .card__photo11{
                    background: url(../../img/index/cards/card11.jpeg) no-repeat -110px center;
                }
                .card__photo12{
                    background: url(../../img/index/cards/card12.jpeg) no-repeat -10px -59px;
                }
            }
            .card:hover{
                animation: MyAnimation__1 1.5s infinite;
                z-index: 2;
            }
        }
    }
}
.footer{
    position: relative;
    z-index: 1;
    cursor: default;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .before__footer{
        position: absolute;
        height: 312px;
        background: #f3af9d;
        width: 100%;
        z-index: -1;
    }
    .info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #FFFFFF;
        background: #E8663C;
        max-width: 956px;
        border-right: 7px solid white;
        border-left: 7px solid white;
        padding: 35px 35px 20px 35px;
        h5{
            font-family: 'BebasNeueBold';
            text-transform: uppercase;
            font-size: 22px;
            margin-bottom: 25px;
        }
        p{
            font-family: 'MyriadPro-Regular';
            font-size: 12px;
            a{
                color: inherit;
                text-decoration: none;
            }
        }
        span{
            color: rgba(255, 255, 255, 0.5);
        }
        .info__about{
            flex-basis: 260px;
        }
        .info__twitter{
            flex-basis: 215px;
        }
        .info__contact{
            flex-basis: 250px;
            .info_contact_social{
                display: flex;
                align-items: center;
                img{
                    margin-right: 5px;
                }
            }
        }
    }
    
}

@keyframes MyAnimation__1 {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.2, 1.2);}
    100% {transform: scale(1, 1);}
}


@media all and (max-width: 956px){
    .section__title{
        .section__title__name{
            max-width: 942px;
            border-right: none;
            border-left: none;
        }
        .before__section__title{
            display: none;
        }
        }
    .footer{
        .before__footer{
            width: 0;
        }
        .info{
            max-width: 942px;
            border-right: none;
            border-left: none;
        }
    }
}
@media all and (max-width: 896px){
    .wrap .recent__works .recent__works__cards {
        justify-content: space-evenly;
    }
    .wrap .recent__works .recent__works__cards .card {
        margin: 10px;
    }
}

@media all and (max-width: 825px){
    .footer .info {
        padding: 10px;
    }
}
@media all and (max-width: 768px){
    .footer .info {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 590px){  
    .wrap{
        header{
            
            justify-content: center;
            .logo{
                font-size: 45px;
            }
            nav{
                display: none;
            }
            .nav__burger{
                transition: .5s;
                display: flex;
                justify-content: center;
            }
            .open{
                display: flex;
                position: fixed;
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 2;
                height: 50px;
                width: 50px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media all and (max-width: 494px){
    .footer .info {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .footer .info .info__about,
    .footer .info .info__contact,
    .footer .info .info__twitter {
        flex-basis: 200px;
    }
    .footer .info p {
        margin-top: -10px;
    }
    .footer .info .info__contact .info_contact_social {
        display: block;
    }
}
@media all and (max-width: 464px){
    .wrap .recent__works .recent__works__cards {
        flex-direction: column;
        .card{
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            .card__photo1{
                background: url(../../img/index/cards/card1.jpeg) no-repeat center center;
            }
            .card__photo2{
                background: url(../../img/index/cards/card2.jpeg) no-repeat center center/cover;
            }
            .card__photo3{
                background: url(../../img/index/cards/card3.jpeg) no-repeat center center/cover;
            }
            .card__photo4{
                background: url(../../img/index/cards/card4.jpeg) no-repeat center center/cover;
            }
            .card__photo5{
                background: url(../../img/index/cards/card5.jpeg) no-repeat center center/cover;
            }
            .card__photo6{
                background: url(../../img/index/cards/card6.jpeg) no-repeat center center/cover;
            }
            .card__photo7{
                background: url(../../img/index/cards/card7.jpeg) no-repeat center center/cover;
            }
            .card__photo8{
                background: url(../../img/index/cards/card8.jpeg) no-repeat center center/cover;
            }
            .card__photo9{
                background: url(../../img/index/cards/card9.jpeg) no-repeat center center/cover;
            }
            .card__photo10{
                background: url(../../img/index/cards/card10.jpeg) no-repeat center center/cover;
            }
            .card__photo11{
                background: url(../../img/index/cards/card11.jpeg) no-repeat center center/cover;
            }
            .card__photo12{
                background: url(../../img/index/cards/card12.jpeg) no-repeat center center/cover;
            }
        }
    }
}
