@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('MyriadPro-Semibold.eot');
  src: url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
       url('MyriadPro-Semibold.ttf') format('truetype'),
       url('MyriadPro-Semibold.woff') format('woff'),
       url('MyriadPro-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

